@font-face {
  font-family: "Fascinate Inline";
  src: url("fonts/FascinateInline-Regular.woff2") format("woff2"),
    url("fonts/FascinateInline-Regular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  src: url("fonts/Orbitron-Regular.woff2") format("woff2"),
    url("fonts/Orbitron-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

:root {
  --btn-border: none;
  --btn-border-radius: 0.3rem;
  --font-family: "Orbitron", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #7b2cbf;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 6rem;
  font-family: "Fascinate Inline", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
}

.primary {
  color: #ffd500;
}

.secondary {
  color: #baebff;
}

.gameboard {
  background-color: #2b0040;
  padding: 3rem;
  border-radius: 1rem;
  position: relative;
}

.btn {
  width: 4.8rem;
  height: 4.8rem;
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  font-family: var(--font-family);
}

.player-x {
  background-color: #4cc9f0;
}

.draw {
  background-color: #c8e7ff;
}

.player-0 {
  background-color: #ffc300;
}

.zero {
  font-size: 1rem;
  font-weight: 600;
}

.result .btn span {
  display: flex;
  flex-direction: column;
}

.marker,
.result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.marker {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}

.marker .btn {
  background-color: #4b285d;
}

.new-game {
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  font-family: var(--font-family);
  background-color: #f1faee;
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  font-weight: bold;
  height: 2.3rem;
}

.new-game:hover,
.new-game:focus {
  background-color: #fd9bc6;
  opacity: 0.8;
}
