* {
  box-sizing: border-box;
}

body {
  background-color: #7b2cbf;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 6rem;
}

.gameboard {
  background-color: #2b0040;
  padding: 3rem;
  border-radius: 1rem;
}

.primary {
  color: #ffd500;
}

.secondary {
  color: #baebff;
}

.btn {
  width: 4rem;
  height: 4rem;
  border: none;
}

.result .btn span {
  display: flex;
  flex-direction: column;
}

.marker,
.result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.marker {
  margin-top: 1.5rem;
}
