* {
  box-sizing: border-box;
  font-family: "Kanit", serif;
  font-weight: 500;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8e7f6;
}

.ui {
  background-color: #cba35c;
  padding: 8px;
  border-radius: 1.8rem;
}

.row {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  font-size: 18px;
}

.btn {
  border: none;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  font-size: 2em;
}

.span-2 {
  border-radius: 100px;
  flex-grow: 1;
}

.btn.digit {
  background-color: #493d9e;
  color: #dad2ff;
}

.btn.operator {
  background-color: #f6ded8;
  color: #b82132;
}

.btn.special {
  background-color: #69247c;
  color: #fac67a;
}

.display {
  font-family: "Bebas Neue", serif;
  font-size: 4.5rem;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn.digit:hover {
  background-color: #483d9e9d;
  font-weight: 700;
  outline: 2px solid #640d5f;
}

.btn.operator:hover {
  background-color: #f6ded89d;
  font-weight: 700;
  outline: 2px solid #497d74;
}

.btn.special:hover {
  background-color: #69247c9d;
  font-weight: 700;
  outline: 2px solid #73c7c7;
}
