* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.ui {
  width: 25%;
  height: 80vh;
}

.display {
  background-color: #f95959;
  height: 45%;
  border-radius: 2rem 2rem 0 0;
}

.buttons {
  background-color: #233142;
  height: 55%;
  border-radius: 0 0 2rem 2rem;
  padding: 1rem;
}

.buttons .btn {
  width: calc((100% - 2rem) / 4);
  font-size: 1.5rem;
}


/* .first-color { 
	background: #233142; 
}
	
.second-color { 
	background: #455d7a; 
}

.third-color { 
	background: #f95959; 
}

.fourth-color { 
	background: #e3e3e3; 
}

https://dribbble.com/shots/8762577-Calculator-App */