html {
  font-family: "Roboto", serif;
}

header {
  background-color: #1f2937;
  padding: 20px 200px;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-nav h1 {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.logo-nav ul {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  gap: 24px;
}

.hero {
  display: flex;
  margin-top: 120px;
  margin-bottom: 96px;
  gap: 48px;
}

.hero h2 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero div:last-child {
  width: 600px;
  height: 250px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}

.hero div:first-child {
  width: 500px;
}

.hero button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  padding: 6px 24px;
}

.hero div * {
  margin-bottom: 18px;
}

.information {
  padding: 56px 0px 84px;
}

.information h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  margin-bottom: 48px;
}

.illustration {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.illustration section div {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 12px;
}

.illustration section p {
  width: 150px;
  text-align: center;
  margin-top: 12px;
  color: rgba(0, 0, 0, 0.664);
}

.illustration section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  background-color: #e5e7eb;
  padding: 100px 0;
}

.quote p:nth-child(1) {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: 200;
  width: 700px;
  margin: 0 auto;
}

.quote p:nth-child(2) {
  width: 700px;
  margin: 0 auto;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
}

.sign-up {
  padding: 64px;
}

.action-box {
  display: flex;
  justify-content: center;
  gap: 128px;
  background-color: #3882f6;
  width: 70%;
  margin: 0 auto;
  color: white;
  padding: 30px;
  border-radius: 12px;
}

.action-box button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid white;
  border-radius: 8px;
  padding: 0px 36px;
  height: 36px;
  align-self: center;
}

.action-box h3 {
  font-weight: 600;
  font-size: 24px;
}

.action-box p {
  font-size: 18px;
  font-weight: 300;
}

.action-box div * {
  margin-bottom: 8px;
}