@font-face {
  font-family: "rock_stencildemoroughen";
  src: url("fonts/rockstencildemoroughen-webfont.woff2") format("woff2"),
    url("fonts/rockstencildemoroughen-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

.header {
  width: calc(0.45 * 100vw);
  height: 100vh;
  background-image: url(img/andre-benz-JnB8Gio4GZo-unsplash.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
