@font-face {
  font-family: "rock_stencildemoroughen";
  src: url("fonts/rockstencildemoroughen-webfont.woff2") format("woff2"),
    url("fonts/rockstencildemoroughen-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

.header {
  width: 45vw;
  height: 100vh;
  background-image: url(img/andre-benz-JnB8Gio4GZo-unsplash.jpg);
  background-size: 100% 100%;
  position: relative;
}

.logo-heading {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
  background-color: #16404d8d;
  position: relative;
  top: 15%;
}

.logo-heading .logo {
  width: 13%;
  height: 8%;
}

.logo-heading .heading {
  font-family: "rock_stencildemoroughen";
  font-size: 3rem;
  color: #fce7c8;
  letter-spacing: 0.18rem;
}

.header .credit,
.header .credit a {
  color: #eae2c6;
}

.header .credit {
  position: absolute;
  bottom: 1%;
  text-align: center;
  width: 45vw;
  font-size: smaller;
}

.layout {
  display: flex;
}

.form {
  width: 55vw;
  margin-left: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bold {
  font-weight: bold;
  font-size: 1.5rem;
  width: 80%;
  margin: 12px 0;
}
