@font-face {
  font-family: "rock_stencildemoroughen";
  src: url("fonts/rockstencildemoroughen-webfont.woff2") format("woff2"),
    url("fonts/rockstencildemoroughen-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

aside {
  width: calc(0.45 * 100vw);
  height: 100vh;
}

aside img {
  width: 100%;
  height: 100%;
}

aside footer {
  position: relative;
  bottom: 3.5%;
  left: 22.5%;
  color: white;
}

aside footer a {
  color: #efe9d5;
}
