@font-face {
  font-family: "faustinalight";
  src: url("fonts/faustina-variablefont_wght-webfont.woff2") format("woff2"),
    url("fonts/faustina-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  border: none;
  box-sizing: border-box;
}

body {
  background-color: #ffe5d9;
  font-family: "faustinalight", Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: minmax(200px, auto);
  gap: 1rem;
  justify-items: center;
  padding: 1rem;
  margin-top: 1.5rem;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

.book {
  background-color: #fdf0d5;
  color: #003049;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem;
  margin: 0 1rem;
  width: 250px;
}

#add {
  color: #c1121f;
  background-color: #003049;
  font-size: 2rem;
}
