body {
  margin: 0;
}

.bell-ring,
.magnify {
  width: 20px;
  height: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  --text-color: #fdf0d5;

  background-color: #669bbc;
  min-height: 100vh;
  color: var(--text-color);
  display: grid;
  grid-template-rows: 0.4fr 1fr 1fr 1fr;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.sidebar div {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.sidebar a {
  color: var(--text-color);
  text-decoration: none;
}

#dashboard {
  height: 2rem;
  width: 2rem;
  fill: var(--text-color);
}

.sidebar h2 {
  display: flex;
  gap: 0.5rem;
}

.group-1 svg {
  height: 1.2rem;
  width: 1.2rem;
  fill: var(--text-color);
}

.group-1 a {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
