@font-face {
  font-family: "Exo";
  src: url("fonts/Exo-Regular.woff2") format("woff2"),
    url("fonts/Exo-Regular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Knewave";
  src: url("fonts/Knewave-Regular.woff2") format("woff2"),
    url("fonts/Knewave-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Exo";
  font-weight: 700;
}

h1 {
  font-family: "Knewave", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  font-weight: 400;
  font-size: 2.5rem;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.side-nav {
  display: flex;
  gap: 6rem;
}

.btn {
  border: none;
  background-color: transparent;
  font-size: 1rem;
}
